<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Update User</h1>
<form th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" />

    <label for="age">Возраст:</label>
    <input type="number" id="age" th:field="*{age}" />

    <button type="submit">Update User</button>
</form>

</body>
</html>
